.primary-nav {

    padding-top: 10px;

    @mixin atMedium {
        padding-top: 0;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;        
    }

    li {
        
        @mixin atMedium {
            padding-right: 20px;                                
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;        
        display: block;
        padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .5);

        @mixin atMedium {
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;
        }
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }
}