$colWidth: 8.33%;

.row {

    @mixin clearfix {}

    &--gutters {
        margin-right: -65px;
    }
    
    &--gutters-small {
        margin-right: -45px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters > div {
        padding-right: 65px;

    }

    &--gutters-small > div {
        padding-right: 45px;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }

    &--b-margin-until-medium {
      margin-bottom: 1rem;
    }

    &--t-padding {
        padding-top: 80px;
    }

    @mixin atMedium {
        &__col-medium-4 {
            float: left;
            width: calc(4 * $colWidth);
        }

        &__col-medium-4--larger {
            width: 37%;
        }

        &__col-medium-6 {
            float: left;
            width: 50%;
            padding-right: 4rem;
        }
    
        &__col-medium-8 {
            float: left;
            width: calc(8 * $colWidth);
        }

        &__col-medium-8--smaller {
            width: 63%;
        }

        &--b-margin-until-medium {
            margin-bottom: 0;
        }
    }

    @mixin atLarge {
        &__col-large-4:nth-child(2n+0) {
            float: left;
            width: calc(4 * $colWidth);
        }

        &__col-large-4--larger {
            width: 37%;
        }

        &__col-large-6 {
            float: left;
            width: 50%;
            padding-right: 4rem;
        }
    
        &__col-large-8 {
            float: left;
            width: calc(8 * $colWidth);
        }

        &__col-large-8--smaller {
            width: 63%;
        }

        &--b-margin-until-large {
            margin-bottom: 0;
        }
    }

    /* Equal height rules */

    &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--equal-height-at-large {
        @mixin atLarge {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    
}